// custom variables
$primary: #96ffdc;
$light:  #a0fdff;

// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-color: (
    "altlight": #96e0ff,
    "altdark": #00a4e8

);

$theme-colors: map-merge($custom-theme-color, $theme-colors);


// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';